.main-color {
    background: #0085cc;
}

body {
    background: #f7f7f7;
}

header {
    background: url('images/community.jpg') no-repeat center #343434;
    background-attachment: fixed;
}

main {
    width: 1000px;
    margin: 0 auto;
    color: #343434;
}

h1 {
    color: #343434;
    text-shadow: none;
}

/*   Top nav   */

.nav {
    width: 1000px;
    margin: auto;
    padding-top: 50px
}

.nav ul li {
    float: left;
    height: 80px;
    color: #fff;
    line-height: 80px;
    font-size: 18px;
    font-weight: 100;
    padding: 0 30px;
}

.nav ul li .active {
    font-size: 30px;
    font-weight:100;
}

.search-block {
    width: 600px;
    margin: auto;
}

.search {
    margin: auto;
    width: 30px;
    margin-top: 10px;
    width: 80%;
    height: 38px;
    font-size: 18px;
    color: #363636;
    transition: box-shadow 0.3s, border 0.3s;
    box-shadow: 0 0 1px 1px #434343;
    padding-left: 5px;
    background: rgba(255,255,255,0.5);
    position: relative;
    float: left;
}

.search ul {
    float: left;
}

.search input {
    float: left;
    width: 98%;
}

.search input:focus {
    outline: none;
}

.search ul li {
    float: left;
    padding: 5px 5px 5px 10px;
    margin: 5px 2px;
    font-size: 12px;
    color: #fff;
}

.search ul li b, .search i {
    background: #00689f;
    width: 16px;
    font-size: 12px;
    height: 16px;
    display: inline-block;
    line-height: 13px;
    text-align: center;
    margin: 0 0 0 3px; 
    vertical-align: bottom;
    cursor: pointer;
    color: #3098cf;
}

.search-button {
    width: 18%;
    height: 38px;
    float: right;
    background: #0085cc;
    border-top: 1px solid #339fd6;
    border-bottom: 1px solid #00549d;
    color: #fff;
    box-shadow: 0px -1px 0px #0062b7;
    margin-top: 10px;
    text-shadow: 0 -1px 0 #003f76;
    font-size: 16px;    
}

::-webkit-input-placeholder {color:#4d4d4d;}
::-moz-placeholder          {color:#4d4d4d;}/* Firefox 19+ */
:-moz-placeholder           {color:#4d4d4d;}/* Firefox 18- */
:-ms-input-placeholder      {color:#4d4d4d;}

.search i {
    position: absolute;
    background: rgba(255,255,255,0.5);
    right: 8px;
    top: 50%;
    margin-top: -8px;
    font-style: normal; 
    color: #6f6f6f;
}

.search-city {
    width: 200px;
    float: left;
    background: rgba(255,255,255,0.1);
}

.search-auto {
    width: 280px;
    float: right;
    background: rgba(255,255,255,0.1)
}

.search-city:hover,
.search-city:focus,
.search-auto:hover,
.search-auto:focus {
    background: rgba(255,255,255,0.4)
}

.chooser {
    width: 505px;
    margin: auto;
}

.search-city input{
    width: 110px;
}

.tag-input {
    background: none;
    height: 38px;
    margin-left: 3px;
}

.cats {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background: #e6e6e6;
}

.cats li {
    display: inline-block;
    line-height: 50px;
    cursor: pointer; 
    font-size: 16px;
    color: #343434;
    height: 50px;
    padding: 0 20px;
}

.cats li:hover, .cats .active {
    background: #0085cc;
    color: #fff;
}

/*   Content   */

.content {
    width: 850px;
    float: right;
}

.item {
    width: 260px;
    display: inline-block;
    margin: 25px 10px;
    vertical-align: top;
    position: relative;
}

.item i {
    position: absolute;
    right: 0;
    top: -15px;
    height: 15px;
    font-size: 10px;
    font-style: normal;
    color: #676767;
}

.item-img img{
    border: 1px solid #bfbfbf;
    vertical-align: top;
}

.item-info {
    padding: 5px 0;
    min-height: 50px;
}

.item-info a {
    color: #343434;
    font-weight: bold;    
}

.item-more {
    border-top: 1px solid #cecece;
    padding-top: 5px;
}

.item-more b {
    font-weight: normal;
    float: left;
    font-size: 10px;
}

.item-more span{
    float: right;
    min-width: 50px;
    padding: 0 5px;
    height: 20px;
    background: #0085cc;
    border: 1px solid #0060b4;
    border-top: 1px solid #339fd6;
    color: #fff;
    box-shadow: 0px -1px 0px #0062b7;
    text-shadow: 0 -1px 0 #003f76;
    font-size: 14px; 
    text-align: center;
    margin-top: 5px;
}

aside {
    color: #343434;
    font-size: 14px;
    float: left;
    width: 150px;
}

.aside-header {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
}

aside ul {
    border-bottom: 1px solid #cecece;
    padding: 20px 0;
}

aside ul li {
    padding: 5px;
}

aside ul li input {
    margin-right: 5px;
}

.author {
    top: -30px;
    left: 10px;
    position:absolute;
    z-index: 0;
}

.author-img {
    padding: 5px;
    background: #f7f7f7;
}

.author:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 48px;
    height: 30px;
    background: #fff;
    z-index: -1;
}
.author:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: -1px;
    height:24px;
    width:48px;
    border-radius: 0 0 48px 48px;
    -moz-border-radius: 0 0 48px 48px;
    -webkit-border-radius: 0 0 48px 48px;
    background: #bfbfbf;
    z-index:-2;
}

.author-verified {
    position: absolute;
    top: 0px;
    right: 0px;
    //border: 1px solid green;
}

.goto-city {
    background-color: #00689f;
}

.seller {
    width: 160px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
}

.seller-u {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #343434;
    margin-top: 5px;    
}

.seller-c {
    text-align: center;
    display: block;
    color: #343434;
}

.seller img{
    //box-shadow: 0 0px 5px #b0b0b0;
}
